@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Bangers", cursive;
}

.header {
  text-align: center;
  margin-top: 50px;
  font-size: 4rem;
  text-shadow: 3px 3px 4px rgb(143, 143, 143);
  letter-spacing: 0.1rem;
}

.container {
  padding-top: 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  margin: 0 auto;
  width: 70%;
  justify-content: space-evenly;
  align-items: center;
  letter-spacing: 0.1rem;
}

.diceOne-img,
.diceTwo-img {
  padding: 10px;
  width: 300px;
  height: 300px;
}

.diceOne-img img,
.diceTwo-img img {
  box-shadow: 0px 0px 4px rgb(93, 16, 9);
  border-radius: 60px;
  width: 100%;
  height: 100%;
}

.playControl {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 400px;
  height: 400px;
}

.instruction {
  color: rgb(107, 107, 107);
  font-size: 18px;
  padding-bottom: 20px;
  text-align: center;
}
.game-status {
  font-size: 16px;
  padding-bottom: 20px;
  text-align: center;
}

.input-number {
  display: flex;
  flex-direction: column;
  font-size: 100px;
  width: 100px;
  padding-left: 20px;
  border: none;
}

.rollTheDiceBtn {
  display: flex;
  padding: 10px 30px 10px 30px;
  margin-top: 40px;
  background-color: transparent;
  border: solid 0.05rem black;
  font-size: 1.5rem;
  letter-spacing: 0.07rem;
  box-shadow: 5px 5px 0px rgb(107, 155, 107);
  width: 200px;
  justify-content: center;
}

.rollTheDiceBtn:hover {
  background-color: rgb(152, 210, 152);
  color: white;
  border: solid 0.05rem transparent;
}

.reloadBtn {
  display: flex;
  padding: 10px 20px 10px 20px;
  margin-top: 20px;
  background-color: transparent;
  border: solid 0.05rem black;
  font-size: 0.8rem;
  letter-spacing: 0.07rem;
  justify-content: center;
  box-shadow: 5px 5px 0px rgb(255, 211, 116);
  width: 100px;
}
.reloadBtn:hover {
  background-color: rgb(252, 178, 17);
  color: white;
  border: solid 0.05rem transparent;
}
